# GENERAL
PROJECT_NAME="ReportFlow"
API_V1_STR="/api/v1"

# KEYCLOAK CONFIGURATION
# Used by the browser (Swagger UI) to request tokens
KEYCLOAK_SERVER_URL="http://localhost:8080"
KEYCLOAK_REALM="ReportFlowRealm"
KEYCLOAK_CLIENT_ID="reportflow-backend"
KEYCLOAK_CLIENT_SECRET="pUdcBwnrCLISzWGw6SkDE703IBHT8J0J"

# Used internally by FastAPI to validate JWT certs
KEYCLOAK_CERTS_URL="http://keycloak:8080/realms/ReportFlowRealm/protocol/openid-connect/certs"

# CELERY & REDIS
# For running locally on host machine:
CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"

# If running Celery/FastAPI fully containerized inside Docker Compose:
# CELERY_BROKER_URL="redis://redis:6379/0"
# CELERY_RESULT_BACKEND="redis://redis:6379/0"

# POSTGRES (KEYCLOAK & APP)
POSTGRES_DB="app_db"
POSTGRES_USER="app_user"
POSTGRES_PASSWORD="app_password"